{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}The Breakfast Group{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class="home-btn" href="{% url 'index' %}">The Breakfast Group</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      <button class="upload-btn"><a style="text-decoration: none; color: black;" href="{% url 'upload_arquivo' %}">Upload de arquivo</a></button>
      {% endblock %}
    </main>
    <footer>
      <p>&copy; {{ year }} - Meu site</p>
    </footer>
  </body>
</html>
